# 03-01
# Challenge 01 - NumPy katas

![](https://images.unsplash.com/photo-1476525223214-c31ff100e1ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
Picture by [Jason Briscoe](https://unsplash.com/photos/HN_4K2diUWs)

In [1]:
# TODO: import the numpy library
import numpy as np

- Créez un tableau nul de taille 10 mais la cinquième valeur qui est 1. Vos valeurs de tableau doivent être `int`.

In [3]:
a = np.zeros(shape=10)
a[4] = 1
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

- Créez un vecteur avec des valeurs de 10 à 49 et inversez-le.

In [5]:
b = np.arange(10, 50)
b[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

- Créez une matrice 3x3 avec des valeurs allant de 0 à 8.

In [83]:
c = np.zeros(shape=(3, 3))
c

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [84]:
np.identity(n=3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

- Créez une matrice d'identité 3x3.

In [85]:
c.reshape(9)[::4] = 1
c

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

- Créez un tableau 10x10 avec des valeurs aléatoires et trouvez les valeurs minimales et maximales.

In [19]:
b = np.random.randint(0, 20, size=(10, 10))
b

array([[ 8, 16,  0,  3, 11,  5,  5,  8, 11, 12],
       [ 6,  5,  8, 15, 10,  4,  0, 12,  8, 19],
       [ 5, 11, 18, 19,  8, 15,  0, 12,  3, 10],
       [ 9,  6,  8,  1,  2,  8, 11,  0, 10,  4],
       [14, 19,  5, 10,  3,  2, 15,  0,  6,  4],
       [17, 10,  0, 11, 17,  4, 14,  7,  3,  6],
       [ 9, 13, 10,  4, 14,  3,  9,  3,  1,  4],
       [ 7, 11,  3,  1, 14, 16, 19,  9,  5, 10],
       [ 4,  5, 15,  9, 12,  5, 13, 16,  1,  5],
       [ 9, 12,  6, 15, 14, 17, 17,  6,  8, 10]])

- Créez un tableau 10x10 2d avec 1 sur la bordure et 0 à l'intérieur.

In [3]:
n = np.ones(shape=(10, 10))
n[1:-1, 1:-1] = 0
n

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

- Créez un tableau 10X10 2d rempli de 1. Ajoutez une bordure (remplie de 0) autour.

In [43]:
n = np.zeros(shape=(10, 10))
n

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [44]:
n[1:-1, 1:-1] = 1
n

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

- Créez une matrice 5x5 avec les valeurs 1,2,3,4 juste en dessous de la diagonale.

In [90]:
k = np.zeros(25).reshape((5, 5))
k.reshape(1, -1)[0][5::6] = [1, 2, 3, 4]
k

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 2., 0., 0., 0.],
       [0., 0., 3., 0., 0.],
       [0., 0., 0., 4., 0.]])

- Créez une matrice 8x8 et remplissez-la avec un motif en damier.

In [49]:
a = np.zeros(shape=(8, 8))
a[::2, ::2] = 1
a[1::2, 1::2] = 1
a

array([[1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.]])

- Créez un tableau 1D rempli de 30 valeurs entières aléatoires entre 1 et 10. Mettre en Négatif  tous les éléments qui sont entre 3 et 8, en place.

In [54]:
n = np.random.randint(1, 10, size=30)
n[(n > 3) & (n < 8)] *= -1
n

array([-5, -7,  8,  1,  3, -6,  8, -5, -5, -6,  2, -7, -6,  1, -6,  3, -5,
        2, -4, -4, -6, -7,  9, -7,  9, -5, -5, -6, -6, -7])

- Créez un vecteur aléatoire de taille 10 et remplacez la valeur maximale par 0.

In [56]:
p = np.random.randint(1, 20, size=10)
p[p.argmax()] = 0
p

array([ 8,  0,  9,  3,  8,  6,  5, 13, 14,  5])

- Vérifie si un tableau 2D donné a des colonnes nulles.

In [64]:
t = np.random.randint(0, 2, size=(2, 2))
t

array([[0, 1],
       [0, 1]])

In [65]:
np.any(np.all(t == 0, axis=0))

True

- Échangez deux lignes d'un tableau.

In [69]:
p = np.random.randint(1, 20, size=(5, 5))
p

array([[ 8, 16, 18,  4,  3],
       [12,  2,  4, 11,  8],
       [18, 10, 11, 16, 16],
       [ 5, 14,  5,  1, 14],
       [13, 12, 12,  9, 17]])

In [70]:
p[[0, 2], :] = p[[2, 0], :]

In [71]:
p

array([[18, 10, 11, 16, 16],
       [12,  2,  4, 11,  8],
       [ 8, 16, 18,  4,  3],
       [ 5, 14,  5,  1, 14],
       [13, 12, 12,  9, 17]])

In [72]:
p[[0, 2], :]

array([[18, 10, 11, 16, 16],
       [ 8, 16, 18,  4,  3]])